In [84]:
import csv
import pandas as pd
import os  # Import the os module to handle file and directory operations

# List of filenames to be processed
filenames = [
    'data/Categories.csv', 'data/Channel_Volume.csv', 'data/Company_Share_GBO_unit.csv', 
    'data/Locations.csv', 'data/Market_Sizes.csv', 'data/Subcategories.csv'
]

def detect_delimiter(file_name):
    """ Detect the delimiter of a CSV file using the csv.Sniffer class. """
    with open(file_name, 'r') as file:
        try:
            dialect = csv.Sniffer().sniff(file.read(1024))
            return dialect.delimiter
        except csv.Error:
            return ','  # Return a default delimiter if detection fails

def read_csv_file_with_delimiter(file_name):
    """ Read a CSV file into a pandas DataFrame using the detected delimiter. """
    delimiter = detect_delimiter(file_name)
    try:
        df = pd.read_csv(file_name, delimiter=delimiter)
        return df
    except pd.errors.ParserError as e:
        print(f"Error parsing '{file_name}': {e}")
        return None

# Ensure the output directory exists
output_dir = 'cleaned_data'
if not os.path.exists(output_dir):
    os.makedirs(output_dir)  # Create the directory if it does not exist

# Iterate through each file
for file_name in filenames:
    print(f"Processing file: {file_name}")

    # Read the CSV file with the correct delimiter
    cleaned_df = read_csv_file_with_delimiter(file_name)

    if cleaned_df is not None:
        # Perform data cleaning operations on the DataFrame
        cleaned_df.dropna(inplace=True)  # Remove rows with missing values

        # Write the cleaned data back to a new CSV file
        cleaned_file_name = os.path.join(output_dir, 'cleaned_' + os.path.basename(file_name))
        cleaned_df.to_csv(cleaned_file_name, index=False)

        print(f"Data cleaning and saving successful for '{file_name}'")
    else:
        print(f"Data cleaning failed for '{file_name}'")

Processing file: data/Categories.csv
Data cleaning and saving successful for 'data/Categories.csv'
Processing file: data/Channel_Volume.csv
Data cleaning and saving successful for 'data/Channel_Volume.csv'
Processing file: data/Company_Share_GBO_unit.csv
Data cleaning and saving successful for 'data/Company_Share_GBO_unit.csv'
Processing file: data/Locations.csv
Data cleaning and saving successful for 'data/Locations.csv'
Processing file: data/Market_Sizes.csv
Data cleaning and saving successful for 'data/Market_Sizes.csv'
Processing file: data/Subcategories.csv
Data cleaning and saving successful for 'data/Subcategories.csv'

## Categories

In [86]:
# Load a CSV file
df = pd.read_csv('data/Categories.csv')

# Display the first few rows of the dataframe
print(df.head())

# Display a summary of the DataFrame, including the non-null count and data type of each column
print(df.info())

# Check for missing values
print(df.isnull().sum())

# Count of unique values per categorical column
for col in df.select_dtypes(include='object').columns:
    print(f"{col}:")
    print(df[col].value_counts())
    print("\n")

   id                         Name
0   1                         Beer
1   2                         Wine
2   3                      Spirits
3   4  RTDs/High-Strength Premixes
4   5                  Cider/Perry
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   Name    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
None
id      0
Name    0
dtype: int64
Name:
Name
Beer                           1
Wine                           1
Spirits                        1
RTDs/High-Strength Premixes    1
Cider/Perry                    1
Name: count, dtype: int64

#### Summary for categories data file:
There are 5 entries in total, each representing a different category.
There are no missing values in the dataset.

----

## channel valume

In [87]:
# Load a CSV file
df = pd.read_csv('data/Channel_Volume.csv')

# Display the first few rows of the dataframe
print(df.head())

# Get a summary of the dataframe
print(df.info())
print(df.describe())

# Check for missing values
print(df.isnull().sum())

   Location          Industry  Edition Category Subcategory  Hierarchy_Level  \
0         1  Alcoholic Drinks     2022     Beer        Beer                1
1         1  Alcoholic Drinks     2022     Beer        Beer                1
2         1  Alcoholic Drinks     2022     Beer        Beer                1
3         1  Alcoholic Drinks     2022     Beer        Beer                1
4         1  Alcoholic Drinks     2022     Beer        Beer                1

          Data_Type                          Outlet  Outlet_Hierarchy  \
0  Off-trade Volume  Food/drink/tobacco specialists                 3
1  Off-trade Volume  Food/drink/tobacco specialists                 3
2  Off-trade Volume  Food/drink/tobacco specialists                 3
3  Off-trade Volume  Food/drink/tobacco specialists                 3
4  Off-trade Volume  Food/drink/tobacco specialists                 3

             Unit  Year_text                    Year_date       Volume
0  million litres       2007     Monday, 31 December 2007  2613,845506
1  million litres       2008  Wednesday, 31 December 2008  2513,025824
2  million litres       2009   Thursday, 31 December 2009  2421,088595
3  million litres       2010     Friday, 31 December 2010  2422,128432
4  million litres       2011   Saturday, 31 December 2011   2439,33622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8468 entries, 0 to 8467
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          8468 non-null   int64
 1   Industry          8468 non-null   object
 2   Edition           8468 non-null   int64
 3   Category          8464 non-null   object
 4   Subcategory       8468 non-null   object
 5   Hierarchy_Level   8468 non-null   int64
 6   Data_Type         8468 non-null   object
 7   Outlet            8468 non-null   object
 8   Outlet_Hierarchy  8468 non-null   int64
 9   Unit              8468 non-null   object
 10  Year_text         8468 non-null   int64
 11  Year_date         8468 non-null   object
 12  Volume            8468 non-null   object
dtypes: int64(5), object(8)
memory usage: 860.2+ KB
None
          Location  Edition  Hierarchy_Level  Outlet_Hierarchy    Year_text
count  8468.000000   8468.0           8468.0       8468.000000  8468.000000
mean      4.128484   2022.0              1.0          2.702055  2014.087860
std       2.050047      0.0              0.0          0.882977     4.311983
min       1.000000   2022.0              1.0          1.000000  2007.000000
25%       3.000000   2022.0              1.0          2.000000  2010.000000
50%       4.000000   2022.0              1.0          3.000000  2014.000000
75%       6.000000   2022.0              1.0          3.000000  2018.000000
max       7.000000   2022.0              1.0          4.000000  2021.000000
Location            0
Industry            0
Edition             0
Category            4
Subcategory         0
Hierarchy_Level     0
Data_Type           0
Outlet              0
Outlet_Hierarchy    0
Unit                0
Year_text           0
Year_date           0
Volume              0
dtype: int64

In [88]:
df.columns

Index(['Location', 'Industry', 'Edition', 'Category', 'Subcategory',
       'Hierarchy_Level', 'Data_Type', 'Outlet', 'Outlet_Hierarchy', 'Unit',
       'Year_text', 'Year_date', 'Volume'],
      dtype='object')

#### Summary Statistics:
- 8,468 records in total.
- Data spans multiple years, with each year having specific records.
- A mix of numerical and categorical data with no null values except in the "Category" column (4 missing values).

-------

## Locations

In [89]:
# Load a CSV file
df = pd.read_csv(r'data/Locations.csv')

# Display the first few rows of the dataframe
print(df.head())

# Get a summary of the dataframe
print(df.info())
print(df.describe())

# Check for missing values
print(df.isnull().sum())

df.columns

                id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0
0  Region;;Asia Pacific;;Australasia;;Eastern Eur...
1  Country;;Asia Pacific;;Australasia;;Eastern Eu...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0  2 non-null      object
dtypes: object(1)
memory usage: 148.0+ bytes
None
                     id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0
count                                                   2
unique                                                  2
top     Region;;Asia Pacific;;Australasia;;Eastern Eur...
freq                                                    1
id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0    0
dtype: int64

Index(['id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0'], dtype='object')

In [90]:
# Attempt to reload the Locations.csv file using semicolon as the delimiter
locations_df = pd.read_csv('data/Locations.csv', delimiter=';')

# Display the first few rows and summary information of the dataframe
locations_head = locations_df.head()
locations_info = locations_df.info()
locations_describe = locations_df.describe(include='all')

locations_head, locations_info, locations_describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2 non-null      object
 1   0       0 non-null      float64
 2   1       2 non-null      object
 3   0.1     0 non-null      float64
 4   2       2 non-null      object
 5   0.2     0 non-null      float64
 6   3       2 non-null      object
 7   0.3     0 non-null      float64
 8   4       2 non-null      object
 9   0.4     0 non-null      float64
 10  5       2 non-null      object
 11  0.5     0 non-null      float64
 12  6       2 non-null      object
 13  0.6     0 non-null      float64
 14  7       2 non-null      object
 15  0.7     0 non-null      float64
 16  8       2 non-null      object
 17  0.8     0 non-null      float64
dtypes: float64(9), object(9)
memory usage: 420.0+ bytes

(        id   0             1  0.1            2  0.2               3  0.3  \
 0   Region NaN  Asia Pacific  NaN  Australasia  NaN  Eastern Europe  NaN
 1  Country NaN  Asia Pacific  NaN  Australasia  NaN  Eastern Europe  NaN

                4  0.4                       5  0.5              6  0.6  \
 0  Latin America  NaN  Middle East and Africa  NaN  North America  NaN
 1  Latin America  NaN  Middle East and Africa  NaN  North America  NaN

                 7  0.7      8  0.8
 0  Western Europe  NaN  World  NaN
 1  Western Europe  NaN  World  NaN  ,
 None,
             id    0             1  0.1            2  0.2               3  0.3  \
 count        2  0.0             2  0.0            2  0.0               2  0.0
 unique       2  NaN             1  NaN            1  NaN               1  NaN
 top     Region  NaN  Asia Pacific  NaN  Australasia  NaN  Eastern Europe  NaN
 freq         1  NaN             2  NaN            2  NaN               2  NaN
 mean       NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 std        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 min        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 25%        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 50%        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 75%        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN
 max        NaN  NaN           NaN  NaN          NaN  NaN             NaN  NaN

                     4  0.4                       5  0.5              6  0.6  \
 count               2  0.0                       2  0.0              2  0.0
 unique              1  NaN                       1  NaN              1  NaN
 top     Latin America  NaN  Middle East and Africa  NaN  North America  NaN
 freq                2  NaN                       2  NaN              2  NaN
 mean              NaN  NaN                     NaN  NaN            NaN  NaN
 std               NaN  NaN                     NaN  NaN            NaN  NaN
 min               NaN  NaN                     NaN  NaN            NaN  NaN
 25%               NaN  NaN                     NaN  NaN            NaN  NaN
 50%               NaN  NaN                     NaN  NaN            NaN  NaN
 75%               NaN  NaN                     NaN  NaN            NaN  NaN
 max               NaN  NaN                     NaN  NaN            NaN  NaN

                      7  0.7      8  0.8
 count                2  0.0      2  0.0
 unique               1  NaN      1  NaN
 top     Western Europe  NaN  World  NaN
 freq                 2  NaN      2  NaN
 mean               NaN  NaN    NaN  NaN
 std                NaN  NaN    NaN  NaN
 min                NaN  NaN    NaN  NaN
 25%                NaN  NaN    NaN  NaN
 50%                NaN  NaN    NaN  NaN
 75%                NaN  NaN    NaN  NaN
 max                NaN  NaN    NaN  NaN  )

In [91]:
df.columns

Index(['id;0;1;0;2;0;3;0;4;0;5;0;6;0;7;0;8;0'], dtype='object')

In [92]:
# Load a CSV file
df = pd.read_csv(r'data/Market_Sizes.csv')

# Display the first few rows of the dataframe
print(df.head())

# Get a summary of the dataframe
print(df.info())
print(df.describe())

# Check for missing values
print(df.isnull().sum())

   Location          Industry  Subcategory  Hierarchy_Level        Data_Type  \
0         1  Alcoholic Drinks            1                3  Total Value RSP
1         1  Alcoholic Drinks            1                3  Total Value RSP
2         1  Alcoholic Drinks            1                3  Total Value RSP
3         1  Alcoholic Drinks            1                3  Total Value RSP
4         1  Alcoholic Drinks            1                3  Total Value RSP

          Unit                                   Current_Constant  \
0  USD million  Historic Constant 2021 Prices, Forecast Consta...
1  USD million  Historic Constant 2021 Prices, Forecast Consta...
2  USD million  Historic Constant 2021 Prices, Forecast Consta...
3  USD million  Historic Constant 2021 Prices, Forecast Consta...
4  USD million  Historic Constant 2021 Prices, Forecast Consta...

                                 Currency_Conversion  Year  Year_date    RSP  \
0  Historic Fixed 2021 Exchange Rates, Forecast F...  2016  31-Dec-16  301.0
1  Historic Fixed 2021 Exchange Rates, Forecast F...  2017  31-Dec-17  318.0
2  Historic Fixed 2021 Exchange Rates, Forecast F...  2018  31-Dec-18  458.0
3  Historic Fixed 2021 Exchange Rates, Forecast F...  2019  31-Dec-19  612.0
4  Historic Fixed 2021 Exchange Rates, Forecast F...  2020  31-Dec-20  774.0

   Volume  Year_minus_2016  Year_minus_2022  Edition
0    27.0                4               -2     2022
1    28.0                5               -1     2022
2    40.0                6                0     2022
3    51.0                7                1     2022
4    62.0                8                2     2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Location             1221 non-null   int64
 1   Industry             1221 non-null   object
 2   Subcategory          1221 non-null   int64
 3   Hierarchy_Level      1221 non-null   int64
 4   Data_Type            1221 non-null   object
 5   Unit                 1221 non-null   object
 6   Current_Constant     1221 non-null   object
 7   Currency_Conversion  1221 non-null   object
 8   Year                 1221 non-null   int64
 9   Year_date            1221 non-null   object
 10  RSP                  1221 non-null   float64
 11  Volume               1221 non-null   float64
 12  Year_minus_2016      1221 non-null   int64
 13  Year_minus_2022      1221 non-null   int64
 14  Edition              1221 non-null   int64
dtypes: float64(2), int64(7), object(6)
memory usage: 143.2+ KB
None
          Location  Subcategory  Hierarchy_Level         Year          RSP  \
count  1221.000000  1221.000000      1221.000000  1221.000000  1221.000000
mean      3.954955     9.117117         2.342342  2021.000000   116.916042
std       1.970795     4.931685         1.095034     3.163573   189.429420
min       1.000000     1.000000         1.000000  2016.000000     1.001000
25%       2.000000     4.000000         1.000000  2018.000000     5.418000
50%       4.000000     9.000000         2.000000  2021.000000    33.806000
75%       6.000000    13.000000         3.000000  2024.000000   128.169000
max       7.000000    17.000000         4.000000  2026.000000   987.000000

            Volume  Year_minus_2016  Year_minus_2022  Edition
count  1221.000000      1221.000000      1221.000000   1221.0
mean    135.917923         9.000000         3.000000   2022.0
std     224.466287         3.163573         3.163573      0.0
min       1.009000         4.000000        -2.000000   2022.0
25%       4.193000         6.000000         0.000000   2022.0
50%      24.000000         9.000000         3.000000   2022.0
75%     139.000000        12.000000         6.000000   2022.0
max     998.000000        14.000000         8.000000   2022.0
Location               0
Industry               0
Subcategory            0
Hierarchy_Level        0
Data_Type              0
Unit                   0
Current_Constant       0
Currency_Conversion    0
Year                   0
Year_date              0
RSP                    0
Volume                 0
Year_minus_2016        0
Year_minus_2022        0
Edition                0
dtype: int64